@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Montserrat:wght@300&family=Roboto+Condensed:wght@300;400&display=swap');

.Card_Item_Selected{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin: 30px auto;
}

.img_Item_Selected{
    display: flex;
    flex-direction: row;
    width: 320px;
    height: 320px;
    padding: 20px;
}

.card_Item_info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
    padding: 20px;
    color: #003881;
}

.card_descripcion{
    width: 600px;
    font-size: 15px;
    text-align: justify;
    font-weight: 500;
    color:rgb(138, 138, 138);
    flex-grow: 1;

}

.card_Item_Precio{
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    
}
