@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Montserrat:wght@300&family=Roboto+Condensed:wght@300;400&display=swap');

.card_item{
    width: 290px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    margin: 0 auto;
}

.card_item:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
}

.img_producto img{
    width: 250px;
    margin-bottom: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.info_producto{
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-transform: uppercase;
    align-items: center;
    text-decoration: none;
}

.info_producto h2{
    font-size: 16px;
    width: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    background: #323031;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    margin-top: 20px;
}

.p_minima{
    font-size: 16px;
    text-align: center;
    color: #084C61;
    width: 250px;
    align-items: center;
}

.precio{
    font-size: 14px;
    color:rgb(255, 255, 255);
    background: #DB3A34;
    padding: 5px;
    border-radius: 10px;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    font-weight: bolder;
    font-family: 'Barlow', sans-serif;
}

.stock{
    color:#084C61;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 10px;
}